<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-menu has-background-primary ">
    <div class="navbar-start">
      <a class="navbar-item has-text-white" href="<%= work_space_path(work_space) %>">Dashboard</a>
      <a class="navbar-item has-text-white" href="<%= work_space_turnout_observations_path(work_space) %>">Raw Data</a>
    </div>
  </div>
</nav>
