<aside class="menu">
  <p class="menu-label">
    Workspace
  </p>
  <ul class="menu-list">
      <li><a href="<%= work_space_path(work_space_id) %>">Dashboard</a></li>
      <li><a href="<%= work_space_path(work_space_id) %>/turnout_observations">Raw Data</a></li>
  </ul>
</aside>
