<div class="invite-copy-link">
    <p>Share this link so volunteers can record ballot counts</p>
    <div class="field has-addons">
      <p class="control is-fullwidth is-block is-flex invite-copy-link-input">
        <input
          id="workspace_url"
          class="input is-block is-flex is-expanded"
          readonly
          type="text"
          value="<%= start_work_space_turnout_observations_url(@work_space) %>"
        >
      </p>
      <p class="control invite-copy-link-btn">
        <a class="button copy-btn" href="javascript:void(0);">
          Copy
        </a>
      </p>
    </div>
</div>

<script type="application/javascript">
  (function () {
    function copyWorkspaceUrl() {
      let copyText = document.getElementById("workspace_url");
      copyText.select();
      document.execCommand("copy");
    }

    document.querySelector('.copy-btn')
      .addEventListener('click',copyWorkspaceUrl);
  })();
</script>
