
<%# XXX Can this be de-duped with `polling_station_name` partial? %>

<p class="is-marginless">
  <%# XXX Switch to just use name if/when migrate name to polling district %>
  <%= polling_district.addresses %>
</p>
<p class="is-uppercase has-text-primary">
  <span title="Ward">
    <%= polling_district.ward.name %>
  </span>
  |
  <span class="has-text-weight-bold" title="Polling District">
    <%= polling_district.reference %>
  </span>
</p>

