
<div class="field has-addons is-marginless">
  <p class="control">
    <button class="button">
      <span class="icon">
        <i class="fa fa-minus"></i>
      </span>
    </button>
  </p>

  <p class="control">
    <div class="fake-button is-fullwidth">
      <span><%= text %></span>
    </div>
  </p>

  <p class="control">
    <button class="button">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
    </button>
  </p>
</div>
