
<% content_for :subtitle do %>
  Setup your workspace for election day
<% end %>

<% content_for :content do %>
  <%= form_for @work_space do |f| %>
    <div class="field">
      <label class="label">
        Name your GOTV campaign

        <div class="control">
          <%= f.text_field(
            :name,
            required: true,
            class: "input",
            autofocus: true
          ) %>
        </div>
      </label>
    </div>

    <%= render 'shared/ward_selector_field',
      label_text: 'Which wards are you covering?',
      wards: @wards
    %>

    <div class="buttons">
      <%= f.submit "Create workspace", class: 'button is-primary' %>
    </div>
  <% end %>
<% end %>
