
<% content_for :subtitle do %>
  Dashboard
<% end %>

<% content_for :content do %>
  <table class="table is-striped is-narrow is-fullwidth">
    <thead>
      <tr>
        <th>Committee Room</th>
        <th>Polling Station</th>
        <th>Labour promises / Registered voters</th>
        <th>Turnout</th>
        <th>Turnout percentage</th>
        <th>Guesstimated Labour votes / Labour votes left</th>
      </tr>
    </thead>

    <tbody class="is-size-7">
      <% @work_space.latest_observations_by_committee_room.each do |committee_room, observations|
        first_observation = observations.first
        observations.each do |o|
          first_for_committee_room = o == first_observation
          polling_station = o.polling_station
          turnout_observation = o.turnout_observation
        %>

          <tr>
            <% if first_for_committee_room %>
              <%= render 'committee_room_info',
                committee_room: committee_room,
                rowspan: observations.length
              %>
            <% end %>

            <%= render 'polling_station_info',
              polling_station: polling_station,
              turnout_observation: turnout_observation
            %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
