
<% content_for :subtitle do %>
  Create a workspace for your committee room
<% end %>

<% content_for :content do %>
  <div class="level-item">
    <div class="field">
      <label class="label is-large ">Choose your council to setup a workspace:</label>

      <div id="council-search" class="control">
        <input class="input is-large typeahead" type="text" autofocus placeholder="Redbridge">
      </div>

      <%# XXX Move to own script and head, may need defer tag to have load after content %>
      <script>
         (function () {
          var councils = <%= raw(@councils.to_json) %>;
          var dataSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: councils
          });

          $('#council-search .typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 1,
              classNames: {
                menu: 'dropdown-menu dropdown-content',
                suggestion: 'dropdown-item',
              },
            },
            {
              display: 'name',
              name: 'councils',
              source: dataSource,
            }).bind('typeahead:select', function(ev, suggestion) {
            window.location = '<%= new_work_space_path %>'+'?council_id='+suggestion.id;
          });
        })()
      </script>
    </div>
  </div>
<% end %>
