
<% content_for :subtitle do %>
  Create a workspace for your committee room
<% end %>

<% content_for :content do %>
  <div class="level-item">
    <div class="field">
      <%# XXX Why doesn't clicking this label focus the input? %>
      <label class="label is-large">
        Choose your council to setup a workspace:

        <div id="council-search" class="control">
          <input class="input is-large typeahead" type="text" autofocus placeholder="Redbridge">
        </div>
      </label>

      <%# XXX Move to own script and head, may need defer tag to have load after content %>
      <%# XXX Possibly just using `to_json` here is a bad idea - will include too %>
      <%# much data, which is both potentially insecure and bulky %>
      <script>
         (function () {
          var councils = <%= raw(@councils.to_json) %>;
          var dataSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: councils
          });

          // store suggestion after autocomplete
          var acSuggestion = null;

          $('#council-search .typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 1,
              classNames: {
                menu: 'dropdown-menu dropdown-content',
                suggestion: 'dropdown-item',
              },
            },
            {
              display: 'name',
              name: 'councils',
              source: dataSource,
            }).on('typeahead:select', function(ev, suggestion) {
                window.location = '<%= new_work_space_path %>'+'?council_id='+suggestion.id;
            }).on('typeahead:autocomplete', function(ev, suggestion) {
                acSuggestion = suggestion;
            });

             /*
              * A little hack to allow submission of form with Enter key
              * after autocomplete
              */
             $('#council-search input.tt-input').keyup(function(event) {
                var inputVal = $('#council-search input.tt-input').val().trim();
                if (event.keyCode == 13 && inputVal == acSuggestion.name) {
                    window.location = '<%= new_work_space_path %>'+'?council_id='+acSuggestion.id;
                }
             });
        })()
      </script>
    </div>
  </div>
<% end %>
