
html {
  font-size: 120%;

  // Ensure rest of page is always at least as big as minimum size main
  // dashboard table will shrink to, so header will still cover full page width
  // in this case.
  min-width: 1300px;
}

// Have dashboard take up more space than it would otherwise when on a fairly
// wide laptop, with smaller margins, to avoid table being as squashed up.
$extra-wide-dashboard-table-width: 1600px;
$extra-wide-dashboard-min-width: $extra-wide-dashboard-table-width + 128px;
@media screen and (min-width: $extra-wide-dashboard-min-width) {
  .container  {
    max-width: $extra-wide-dashboard-table-width;
    width: $extra-wide-dashboard-table-width;
  }
}

// Override Bulma style so all cells are vertically centred by default; in
// particular so multi-rowspan cells have their value shown centred rather than
// appearing to be associated with a specific cell either side (e.g. an overall
// polling district figure shown alongside polling stations should appear to
// relate to all of them).
.content .table td {
  vertical-align: middle;
}

.past-counts-list {
  margin: 0 !important;
  text-decoration: line-through;
  opacity: 0.8;

  li {
    list-style: none;
  }
}

.suggested-target-district td:not(.committee-room-cell) {
  // A (hopefully) subtle red-ish white, to indicate this is the district we
  // would (very tentatively) suggest targeting for this committee room.
  background-color: #f7d7d7;
}
