
.notification {
  margin-bottom: 0.5rem !important;
}

.section {
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button {
  width: 100%;
}
