
.notification {
  margin-bottom: 0.5rem !important;
}

.section {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.buttons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.button {
  width: 100%;
}
