$labour-turquoise: #11ad8e;
$labour-pink: #e33b7f;
$primary: $labour-pink;

// Always show all navbar links. If ever set this higher again need to re-add
// navbar hamburger HTML/JS to `app/views/layouts/organiser_dashboard.html.erb`.
$navbar-breakpoint: 0;

@import "bulma";

abbr {
  // Remove default underline added by some browsers, which looks odd.
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}

// For Typeahead autocompletes.
.tt-cursor {
  background: black;
  color: white;

  .tt-highlight {
    color: #eee;
  }
}

.twitter-typeahead {
  width: 100%;
}

.invite-copy-link {
    margin-top: 15px;
}

.invite-copy-link-input {
    width: 85%;
}

.invite-copy-link-btn {
    width: 10%;
}
