$labour-turquoise: #11ad8e;
$labour-pink: #e33b7f;
$primary: $labour-pink;

// Always show all navbar links. If ever set this higher again need to re-add
// navbar hamburger HTML/JS to `app/views/layouts/organiser_dashboard.html.erb`.
$navbar-breakpoint: 0;

@import "bulma";
@import "fake_button";

html {
  // Ensure horizontal scroll bar shows if needed (small laptops/tablets),
  // rather than having inaccessible content on right of screen.
  overflow-x: auto;
}

// Equivalent to Bulma's label margin but for when input inside label.
label {
  input {
    margin-top: 0.5em;
  }
}

abbr {
  // Remove default underline added by some browsers, which looks odd.
  text-decoration: none;
}

.footer {
  margin-top: 50vh;
}

.nowrap {
  white-space: nowrap;
}

.is-sticky {
  position: sticky;
  top: 50px;
}

.is-strikethrough {
  text-decoration: line-through;
}

.has-bullet {
  list-style: inside;
}

.vertical-align-top {
  vertical-align: top !important;
}

// For Typeahead autocompletes.
.tt-cursor {
  background: black;
  color: white;

  .tt-highlight {
    color: #eee;
  }
}

.twitter-typeahead {
  width: 100%;
}

.invite-copy-link {
  margin-top: 15px;
}

.invite-copy-link-input {
  width: 85%;
}

.invite-copy-link-btn {
  width: 10%;
}
