
<%# XXX Just use all organiser dashboard styles in setup pages for now, for
    consistency, maybe later split off separate styles if needed (in particular
    want same font/page sizing) %>
<% content_for :layout_name, 'organiser_dashboard' %>

<% content_for :layout do %>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Get Out the Vote</h1>
        <h2 class="subtitle">
          <%= yield :subtitle %>
        </h2>
      </div>
    </div>
  </section>

  <%= render 'shared/success_flash', message: notice %>

  <section class="section">
    <div class="container">
      <%= yield :content %>
    </div>
  </section>
<% end %>

<%= render template: 'layouts/application' %>
